{% extends "layout.html" %}

{% block title %}
    Main
{% endblock %}

{% block css %}href="/static/css/check_rooms.css"{% endblock %}
{% block printcss %}href="/static/css/check_roomsprint.css"{% endblock %}

{% block info %}            <div class="emp_info">
    <h2>{{employee_info[0]["first_name"]}}, {{employee_info[0]["role"]}}</h2>
</div>{% endblock %}


{% block main %}

    {% if (employee_info[0]["role"] == "Admin") or (employee_info[0]["role"] == "Receptionist") or (employee_info[0]["role"] == "Reporter")  or (employee_info[0]["role"] == "Reception manager") and (employee_info[0]["status"] == "Working") %}

<!--  table tablestriped-->
        <br><br><br><br>
        <table class=" ">
            <thead class="thead-dark"><!-- id="theadmain" -->
                <tr>
                    <th class="text-start head">Rooms No.</th>
                    <th class="text-end head">Price</th>
                    <th class="text-start head">Status</th>
                </tr>
            </thead>
            <tbody>
        <!-- Loop through the database entries to display them in this table -->
                {% for room in rooms_data %}
                    <tr>
                        <td class="text-start data">{{ room["room_number"] }}</td>
                        <td class="text-end data">{{ room["price"] }}</td>
                        <td class="text-start data">{{ room["status"] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table><br><br><br><br>
<!-- print report button -->
        <button onclick="window.print()">Print this page</button>
    {% else %}
        <div class="alert alert-danger" role="alert">
            <i class="bi bi-exclamation-octagon-fill"></i>
            Invalid role or suspicious action!
        </div>
    {% endif %}

{% endblock %}